$buttons-height: 24px;

.btn-group-vertical {
    position: fixed;
    top: 50%;
    right: 0px;
    width: 40px;
    z-index: 9999;
    margin-top: -$buttons-height;
    text-align: center;

    a {
        padding: 0 !important;
        display: block;
        text-align: left;
        font-family: Arial, sans-serif;
        
        button {
            color: var(--text-links);
            
            &:hover {
                background-color: var(--color-secondary);
            }
        }
    }
}