:root {
    --color-primary: #9FC5CE;
    --color-primary-light: #d2e9ee;
    --color-secondary: #BBCB9F;
    --color-secondary-light: #d5e8b4;
    --color-additional: #457b9d;
    --text-primary: black;
    --text-secondary: black;
    --header: #457b9d;
}
.contrast {
    --color-primary: black;
    --color-primary-light: white;
    --color-secondary: darkgray;
    --color-secondary-light: white;
    --color-additional: black;
    --text-primary: white;
    --text-secondary: black;
    --header: white;
  }
