@import '../../utils/design-tokens.scss';

nav {

    button.toggle-button {
        color: var(--color-primary-light)
    }

    h1 {
        font-size: 2rem;
    }

    button {
        background-color: transparent !important;
        border-color: transparent !important;
        outline: none;
    }

    button,
    #basic-navbar-nav > div > a {
        font-weight: 500;
        font-size: 1.25em;
        letter-spacing: 2px;
        text-transform: uppercase;
        margin-right: 20px;
        color: var(--color-primary-light);

        &:last-of-type {
            margin-right: 0;
        }

        &:hover,
        &.selected {
            color: var(--color-secondary-light)
        }

        svg {
            margin-right: 8px;
            font-size: larger;
        }

        @media screen and (max-width: 992px) {
            margin-right: 0;
            text-align: right;
        }
    }
}