@import '../../design-tokens/scss-variables.scss';

nav {

    h1 {
        font-size: 2rem;
    }

    button {
        background-color: transparent !important;
        border-color: transparent !important;
        outline: none;
    }

    #basic-navbar-nav > div > a {
        font-weight: 500;
        font-size: 1.25em;
        letter-spacing: 2px;
        text-transform: uppercase;
        margin-right: 20px;
        color: var(--color-primary-light);

        &:last-child {
            margin-right: 0;
        }

        &:hover,
        &.selected {
            color: var(--color-secondary-light)
        }

        @media screen and (max-width: 992px) {
            &:first-child {
                margin-top: 10px;
            }
            margin-right: 0;
            text-align: right;
        }
    }
}