div.intro {

    @media screen and (max-width: 800px) {
        text-align: center;
        justify-content: flex-start;
    }

    .main-container {

        @media screen and (max-width: 800px) {
            flex-direction: column;
            justify-content: space-between;
        }

        .headshot-container {
            order: 1;
            max-width: 30rem;

            img {
                max-width: 20rem;
                padding: 5px;
                margin: 2rem;
                border-radius: 50%;
                border: 5px solid var(--color-primary);

                @media screen and (max-width: 800px) {
                    width: 80vw;
                }
            }
        }

        div.text-container {
            order: 2;
            padding: 2rem 0 5rem 2rem;

            .type-container {
                font-size: 3vh;
                font-weight: 500;
            }

            button.projects {
                font-family: 'Ubuntu', sans-serif;
                --animate-delay: 3s;
                background-color: var(--color-secondary);
                color: var(--text-primary);

                &:hover {
                    background-color: var(--color-secondary-light);
                    color: var(--text-secondary);
                }
            }

            @media screen and (max-width: 1000px) {
                padding: 0;
            }
        }
    }

    a>.arrow {
        font-size: 40px;

        i {
            position: relative;
            bottom: -10vh;
            color: white;
            animation: bounce 2s infinite;

            @media screen and (max-width: 1000px) {
                bottom: -7vh
            }
        }
    }
}