@import "bootstrap/dist/css/bootstrap.min.css";

:root {
  --color-primary: #4e7482;
  --color-primary-light: #d2e9ee;
  --color-secondary: #73906a; //c5c6a6
  --color-secondary-light: #bbcb9f;
  --color-accent: #3a4963;
  --text-primary: black;
  --text-secondary: black;
  --header-primary: #45535b;
  --header-secondary: #45535b;
}
.dark {
  --color-primary: #353e4e;
  --color-primary-light: #e4e1d1;
  --color-secondary: #5a552d;
  --color-secondary-light: #7b8d71;
  --color-accent: #1f2429;
  --text-primary: #e4e1d1;
  --text-secondary: black;
  --header-primary: #e4e1d1;
  --header-secondary: #1f2429;
}

body {
  font-family: "Open Sans", sans-serif;
  width: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
  position: relative;

  a {
    text-decoration: none;
  }
}

article {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.custom-shadow {
  box-shadow: 0 8px 8px rgba(0, 0, 0, 0.1);
}

button.custom-shadow:hover {
  box-shadow:
    0 1px 3px rgba(0, 0, 0, 0.12),
    0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}

footer {
  min-height: 50px;
  margin-top: auto;
}

h1,
h3,
.greenLarge {
  color: var(--color-primary);
  font-weight: 500;
  font-size: 6vh;

  @media screen and (max-width: 800px) {
    font-size: 5vh;
    text-align: center;
  }
}

h3 {
  margin-bottom: 3rem;
  font-size: 38px;

  @media screen and (max-width: 800px) {
    margin-bottom: 0;
  }
}

.custom-text-secondary {
  color: var(--color-secondary);
}

.text-links {
  color: var(--text-links);
  &:hover {
    color: #c054be;
  }
}

.text-secondary-light {
  color: var(--color-secondary-light);
}

.text-primary-light {
  color: var(--color-primary-light);
}

.bg-accent {
  background-color: var(--color-accent);
}

.bg-primary {
  background-color: var(--color-primary);
}

.bg-secondary {
  background-color: var(--color-secondary);
}
